.content {
  height: 100vh;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  background: gray;
  color: white;
  border-radius: 20px;
  font-size: 50px;
}


/* .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-about-image {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.headline {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */